<ion-content>
  <img src="https://live.staticflickr.com/8454/8052574696_2106b56753_b.jpg" alt="">
  <div id="container" >
    <ion-card class="carta">
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />

      <ion-card-content>
        Reestablecimiento de contraseña
        <ion-item class="lbl">
          <ion-label position="stacked">Correo: </ion-label>
          <ion-input placeholder="alumno@duocuc.cl" type="text" #txtReset></ion-input>
        </ion-item>


        
      </ion-card-content>

      <button class="btng btng2" (click)="olvidopass(txtReset)" >Reestablecer</button>
      
      <br>
    </ion-card>
  </div>
</ion-content>