<ion-content>
  <img src="https://live.staticflickr.com/8454/8052574696_2106b56753_b.jpg" alt="">
  <div id="container" >
    <ion-card class="carta">
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />

      <ion-card-content>
        {{ "Registro" | translate }}
        <ion-item>
          <ion-label position="stacked">{{ "Nombre" | translate }}: </ion-label>
          <ion-input placeholder="{{ nombrePH }}" type="text" #txtNombre></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ "Correo" | translate }}: </ion-label>
          <ion-input placeholder="{{ correoPH }}" type="text" #txtUsuario></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ "Contraseña" | translate }}: </ion-label>
          <ion-input placeholder="{{ passPH }}" type="password" #txtPass></ion-input>
        </ion-item>
        <ion-list>
          <ion-radio-group [allowEmptySelection]="false" value="" #qDocente>
            <ion-item>
              <ion-label>{{ "Docente" | translate }}</ion-label>
              <ion-radio slot="end" value=2></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{ "Estudiante" | translate }}</ion-label>
              <ion-radio slot="end" value=1></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <button class="btng btng2" (click)="registrar(txtNombre,txtUsuario,txtPass,qDocente)">{{ "Registrar" | translate }}</button>

      </ion-card-content>

      <br>
    </ion-card>
  </div>
</ion-content>

