<ion-header>
  <ion-toolbar>
    <ion-title> scanner</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="visibility: {{ visibilidad }};">
  <ion-card>
    <ion-button 
    expand="block"
    (click)="startScan()" 
    class="ion-margin">
      Escanear
    </ion-button>
  </ion-card>
  <hr>
  <ion-card>
    <ion-item *ngIf="resultadoEscaneo">
      <ion-label class="ion-text-wrap">Resultado {{resultadoEscaneo}} </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<!--inicio footer-->
<ion-footer style="visibility: {{ visibilidad }};"> 
  <ion-toolbar>
    <div class="form-group">
      <button class="btng btng2" [routerLink]="['/inicio-alumno']" ><ion-icon name="home-outline" ></ion-icon></button>
  
      <button class="btng btng2" [routerLink]="['/perfil-alumno']"><ion-icon name="person-outline"></ion-icon></button>
      
      <button class="btng btng2apretado" [routerLink]="['/lectorqr']"><ion-icon name="scan-outline"></ion-icon></button>
    </div>
  </ion-toolbar>
</ion-footer>
<!--fin del footer-->