<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode 
      [qrdata]="qrString"
      [width]="340"
      [errorCorrectionLevel]="'H'"></qrcode>
    </ion-card-content>
  </ion-card>
  <div class="conthr">
    <div class="hr"></div>
  </div>
  <div class="text">
    Escanee este código con su aplicación móvil para registrar su asistencia.
  </div>
  <div class="conthr">
    <div class="hr"></div>
  </div>
</ion-content>
