<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="qr">
    <img src="./assets/qr.png" />
  </div>
  <div class="conthr">
    <div class="hr"></div>
  </div>
  <div class="text">
    Escanee este código con su aplicación móvil para registrar su asistencia.
  </div>
  <div class="conthr">
    <div class="hr"></div>
  </div>
</ion-content>
